h1, h2, h3, h4, h5 {
    padding: 0 70px 8px 0;
    margin: 0 0 15px 0;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    display: table;
}
.pointer {
    cursor: pointer;
}
.text-center {
    text-align: center;
}
.center {
    display: table;
    margin: 0 auto;
}
.box {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}
.right {
    float: right;
}
.box-title {
    display: block;
    width: 100%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-bottom: 15px;
}

.border-right {
    border-right-width: 3px;
    border-right-style: solid;
}
.border-left {
    border-left-width: 3px;
    border-left-style: solid;
}
.border-top {
    border-top-width: 3px;
    border-top-style: solid;
}
.border-bottom {
    border-bottom-width: 3px;
    border-bottom-style: solid;
}
.borders {
    border-width: 3px;
    border-style: solid;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 767px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}