.br, .br0 {
    clear: both;
    height: 0px;
}

.br1 {
    clear: both;
    height: 1px;
}

.br2 {
    clear: both;
    height: 2px;
}

.br3 {
    clear: both;
    height: 3px;
}

.br4 {
    clear: both;
    height: 4px;
}

.br5 {
    clear: both;
    height: 5px;
}

.br6 {
    clear: both;
    height: 6px;
}

.br7 {
    clear: both;
    height: 7px;
}

.br8 {
    clear: both;
    height: 8px;
}

.br9 {
    clear: both;
    height: 9px;
}

.br10 {
    clear: both;
    height: 10px;
}

.br11 {
    clear: both;
    height: 11px;
}

.br12 {
    clear: both;
    height: 12px;
}

.br13 {
    clear: both;
    height: 13px;
}

.br14 {
    clear: both;
    height: 14px;
}

.br15 {
    clear: both;
    height: 15px;
}

.br16 {
    clear: both;
    height: 16px;
}

.br17 {
    clear: both;
    height: 17px;
}

.br18 {
    clear: both;
    height: 18px;
}

.br19 {
    clear: both;
    height: 19px;
}

.br20 {
    clear: both;
    height: 20px;
}

.br21 {
    clear: both;
    height: 21px;
}

.br22 {
    clear: both;
    height: 22px;
}

.br23 {
    clear: both;
    height: 23px;
}

.br24 {
    clear: both;
    height: 24px;
}

.br25 {
    clear: both;
    height: 25px;
}

.br26 {
    clear: both;
    height: 26px;
}

.br27 {
    clear: both;
    height: 27px;
}

.br28 {
    clear: both;
    height: 28px;
}

.br29 {
    clear: both;
    height: 29px;
}

.br30 {
    clear: both;
    height: 30px;
}

.br31 {
    clear: both;
    height: 31px;
}

.br32 {
    clear: both;
    height: 32px;
}

.br33 {
    clear: both;
    height: 33px;
}

.br34 {
    clear: both;
    height: 34px;
}

.br35 {
    clear: both;
    height: 35px;
}

.br36 {
    clear: both;
    height: 36px;
}

.br37 {
    clear: both;
    height: 37px;
}

.br38 {
    clear: both;
    height: 38px;
}

.br39 {
    clear: both;
    height: 39px;
}

.br40 {
    clear: both;
    height: 40px;
}

.br41 {
    clear: both;
    height: 41px;
}

.br42 {
    clear: both;
    height: 42px;
}

.br43 {
    clear: both;
    height: 43px;
}

.br44 {
    clear: both;
    height: 44px;
}

.br45 {
    clear: both;
    height: 45px;
}

.br46 {
    clear: both;
    height: 46px;
}

.br47 {
    clear: both;
    height: 47px;
}

.br48 {
    clear: both;
    height: 48px;
}

.br49 {
    clear: both;
    height: 49px;
}

.br50 {
    clear: both;
    height: 50px;
}

.br51 {
    clear: both;
    height: 51px;
}

.br52 {
    clear: both;
    height: 52px;
}

.br53 {
    clear: both;
    height: 53px;
}

.br54 {
    clear: both;
    height: 54px;
}

.br55 {
    clear: both;
    height: 55px;
}

.br56 {
    clear: both;
    height: 56px;
}

.br57 {
    clear: both;
    height: 57px;
}

.br58 {
    clear: both;
    height: 58px;
}

.br59 {
    clear: both;
    height: 59px;
}

.br60 {
    clear: both;
    height: 60px;
}

.br61 {
    clear: both;
    height: 61px;
}

.br62 {
    clear: both;
    height: 62px;
}

.br63 {
    clear: both;
    height: 63px;
}

.br64 {
    clear: both;
    height: 64px;
}

.br65 {
    clear: both;
    height: 65px;
}

.br66 {
    clear: both;
    height: 66px;
}

.br67 {
    clear: both;
    height: 67px;
}

.br68 {
    clear: both;
    height: 68px;
}

.br69 {
    clear: both;
    height: 69px;
}

.br70 {
    clear: both;
    height: 70px;
}

.br71 {
    clear: both;
    height: 71px;
}

.br72 {
    clear: both;
    height: 72px;
}

.br73 {
    clear: both;
    height: 73px;
}

.br74 {
    clear: both;
    height: 74px;
}

.br75 {
    clear: both;
    height: 75px;
}

.br76 {
    clear: both;
    height: 76px;
}

.br77 {
    clear: both;
    height: 77px;
}

.br78 {
    clear: both;
    height: 78px;
}

.br79 {
    clear: both;
    height: 79px;
}

.br80 {
    clear: both;
    height: 80px;
}

.br81 {
    clear: both;
    height: 81px;
}

.br82 {
    clear: both;
    height: 82px;
}

.br83 {
    clear: both;
    height: 83px;
}

.br84 {
    clear: both;
    height: 84px;
}

.br85 {
    clear: both;
    height: 85px;
}

.br86 {
    clear: both;
    height: 86px;
}

.br87 {
    clear: both;
    height: 87px;
}

.br88 {
    clear: both;
    height: 88px;
}

.br89 {
    clear: both;
    height: 89px;
}

.br90 {
    clear: both;
    height: 90px;
}

.br91 {
    clear: both;
    height: 91px;
}

.br92 {
    clear: both;
    height: 92px;
}

.br93 {
    clear: both;
    height: 93px;
}

.br94 {
    clear: both;
    height: 94px;
}

.br95 {
    clear: both;
    height: 95px;
}

.br96 {
    clear: both;
    height: 96px;
}

.br97 {
    clear: both;
    height: 97px;
}

.br98 {
    clear: both;
    height: 98px;
}

.br99 {
    clear: both;
    height: 99px;
}

.br100 {
    clear: both;
    height: 100px;
}