.filters{
    background: #f2f2f3;
    /*border-bottom: 2px solid #bdc3c7;*/
}
#filter-top-marker{
    width: 13%;
    border-radius: 30px;
    height: 4px;
    background: #D9D9D9;
    position: absolute;
    top: 5px;
    left: 44%;
}
.mobile-filter-pad1{
    padding: 0% 0% 0% 15%;
}
.mobile-filter-pad2{
    padding: 0% 0% 0% 18%;
}
.mobile-filter-pad3{
    padding: 0% 0% 0% 25%;
}
.checkbox-filters{
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}
.filter-slider{
    display: none;
}
.filters-title{
    font-size: 1em;
    font-weight: 600;
    color: #6a6a6a;
}
.display-flex{
    display: flex;
    padding: 10px 0px;
}
.filters-border{
    border-right: 2px solid #bdc3c7;
}
.filters-border-mobile{
    border-bottom: 2px solid #bdc3c7;
}
#div-filter-mobile{
    background: #fff;
    padding-top: 20px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s; 
}
.return-filter{
    position: absolute;
    top: 20px; 
    left: 7px;
}