.bd-radius-5{
    border-radius: 5px;
}
.clear-both{
    clear: both;
}
.clear-both3{
    clear: both;
    height: 3px;
}
.clear-both5{
    clear: both;
    height: 5px;
}
.clear-both10{
    clear: both;
    height: 10px;
}
.clear-both15{
    clear: both;
    height: 15px;
}
.clear-both20{
    clear: both;
    height: 20px;
}
.clear-both30{
    clear: both;
    height: 30px;
}
.clear-both40{
    clear: both;
    height: 40px;
}
.float-left{
    float: left;
}